name: "Test application"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

  # Allow workflow to be manually run from the GitHub UI
  workflow_dispatch:

jobs:
  tests:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - container_image: phpdockerio/php80-cli
            xdebug_package: php8.0-xdebug
          - container_image: phpdockerio/php74-cli
            xdebug_package: php7.4-xdebug
          - container_image: phpdockerio/php73-cli
            xdebug_package: php7.3-xdebug

    env:
      PHP_CONTAINER: ${{ matrix.container_image }}
      XDEBUG_PACKAGE: ${{ matrix.xdebug_package }}

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Initialise environment
        run: make prep-ci

      - name: Run static analysis
        run: make static-analysis

      - name: Run unit and functional tests
        run: make coverage-tests

      - name: Run mutation tests
        run: make mutation-tests

      - uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          files: ./reports/phpunit/coverage.xml # optional
          flags: unittests # optional
          name: codecov-umbrella # optional
          fail_ci_if_error: true # optional (default = false)
          verbose: false # optional (default = false)
